@plugin "daisyui";
@import "tailwindcss";

/* @layer components {
  .activeGreen {
    @apply w-full py-3 rounded-2xl flex flex-col gap-1 text-[#90A1B9];
    @apply hover:bg-mainGreen/10 hover:text-mainGreen;
  }

  .input {
    @apply bg-[#F8FAFC] px-12 py-3.5 border border-border rounded-xl;
  }
} */
